<div class="small-card_container">
    <div class="small-card_container_content">
        <div class="small-card_photo">
            <img src="{{smallPhotoCover}}" srcset="" alt=""
                width="200px" min-width="200px" height="100%">
        </div>
        <div class="small-card_title">
            <a [routerLink]="['content',id]">
                <h3>{{smallCardTItle}}</h3>
            </a>
        </div>

    </div>
    <div class ="small-card_container_hr">
        <hr>
    </div>
</div>